%rebase('template.html')
<!DOCTYPE html>
<head>
<title> Slovenske fakultete </title>
</head>
<body>
<p> <b> Glede na kaj želite iskati fakulteto? </b>
<ol>
    <li> <a href = '../fakultete/naziv/'> Naziv </a> </li>
    <li> <a href = '../fakultete/dekan/'> Dekan </a> </li>
    <li> <a href = '../fakultete/lokacija/'> Lokacija </a> </li>
	<li> <a href = '../fakultete/kontakt/'> Kontakt </a> </li>
	<li> <a href = '../fakultete/e_naslov/'> E-naslov </a> </li>
	<li> <a href = '../fakultete/spletna_stran/'> Spletna stran </a> </li>
	<li> <a href = '../fakultete/leto_ustanovitve/'> Leto ustanovitve </a> </li>
	<li> <a href = '../fakultete/univerza/'> Univerza </a> </li>
<ol>
</p>
</body>
<a href = '../'> Nazaj </a>
</html>