%rebase('template.html')
<!DOCTYPE html>
<html>
<title>Slovenske fakultete</title>
<body>
	<div class="bgimg w3-display-container w3-text-white">
		<div class="w3-display-middle w3-small">
	<h2> <p> <b> Vnesite eno od naslednjih stopenj programa po kateri želite iskati. </b> </p></h2>
		<h1><center>
	    <table class="center" style="width:50%">
			<tr>
				<th> <small> Stopnja </small> B1-VSŠ <small> zaznamuje visokošolski študijski program </small></th>
			</tr>
			<tr>
				<th><small> Stopnja </small>  B1-UNI <small> zaznamuje univerzitetni študijski program </small> </th>
			</tr>
			<tr>
				<th> <small> Stopnja </small> B1-MAG <small> zaznamuje enoviti magistrski študijski program </small></th>
			</tr>
			<tr>
				<th><small> Stopnja </small><b> B2-MAG <small> zaznamuje enoviti magistrski študijski program </small></th>
			</tr>
			<tr>
				<th><small> Stopnja </small> B3-DR <small> zaznamuje doktorski študijski program </small></th>
			</tr>
		</table>
		</center>
		<!-- prazna vrstica  -->
		<form action = "/programi/stopnja/rezultati/">
			<input type="text" name="iskalni_niz">
			<input type="submit" name="Išči!">
		</form>	
	</h1>
	</div>
</div>

</body>
</html>