%rebase('template.html')
<!DOCTYPE html>
<html>
<title>Slovenske fakultete</title>
<body>
	<div class="bgimg w3-display-container w3-text-white">

		<div class="w3-display-middle w3-small">
			<h1>
			<p> <b> Vnesite bodisi 'da' bodisi 'ne', če iščete programe, ki so bodisi izredni bodisi niso. </b> </p>
			<form action = "/programi/izredni/rezultati/">
				<input type="text" name="iskalni_niz">
				<input type="submit" name="Išči!">
			</form>
			</h1>
		</div>
	</div>
</body>
</html>